<form class="todo-item-form" method="post">
    <div style="margin-bottom: 10px;">
        <label>Insert title: <input type="text" name="title" /></label>
        <input type="hidden" name="userId" value="1" />
    </div>
    <div>
        <button id="button" type="submit">Submit</button>
    </div>
</form>

<ul>
    {{#each todoStore}}
    <li class="todo-item" data-id="{{this.id}}">
        Title: {{this.title}}
        <input type="checkbox" class="complete-checkbox" {{#if this.completed}}checked{{/if}} />
    </li>
    {{/each}}
</ul>